NODE_ENV=development
DATABASE_DRIVER=postgres
DATABASE_NAME=your_database_name
DATABASE_HOST=your_database_host
DATABASE_PORT=your_database_port
DATABASE_USERNAME=your_username
DATABASE_PASSWORD=your_password
PGADMIN_PASSWORD=your_pgadmin_password
PGADMIN_EMAIL=your_email@example.com
LOG_FORMAT=json